    /* Styles 3 du formulaire */
    body {
        background-image: url(https://i.pinimg.com/originals/ec/b6/41/ecb6416c16b66e9e5409def9271224a2.gif);
        font-family: 'Bruno Ace SC', cursive;
        font-size: 50px;
        color: #fff;
    }
    form {
        top: 150px;
        width: 500px;
        position: relative;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff2b;
        text-align: center;
        border: solid;
        border-color: #ff0074;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input[type="text"], select {
        text-align: center;
        width: 50%;
        padding: 5px;
        border: 1px solid #ff0074;
        font-family: 'Bruno Ace SC', cursive;
    }
    input[type="submit"] {
        text-align: center;
        width: 100%;
        padding: 10px;
        background-color: #ff0074;
        color: #fff;
        border: none;
        cursor: pointer;
        font-family: 'Bruno Ace SC', cursive;
    }